Node-Red-flows.json
[{"id":"1d52abe3.9ae71c","type":"tab","label":"Flow 1","disabled":false,"info":""},{"id":"76e41e1a.6b1248","type":"mqtt in","z":"1d52abe3.9ae71c","name":"","topic":"esp32/dayalamp","qos":"1","datatype":"auto","broker":"70223f88.7bf908","x":160,"y":340,"wires":[["1a0b00d.3884d7f","30866559.e0f142","332a94eb.413d0c"]]},{"id":"9b2c7284.673268","type":"blynk-ws-out-table","z":"1d52abe3.9ae71c","name":"","pin":"5","client":"d080c92f.edf4b8","x":920,"y":280,"wires":[]},{"id":"1a0b00d.3884d7f","type":"function","z":"1d52abe3.9ae71c","name":"table","func":"\nmsg.clear = true;\n\nvar payload = msg.payload;\nvar topic = msg.topic;\n\nmsg.add = [\"Daya Lampu\",payload+\" Watt\"];\nmsg.update = [0,\"Daya Lampu\",payload+\" Watt\"];\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":710,"y":280,"wires":[["9b2c7284.673268"]]},{"id":"30866559.e0f142","type":"debug","z":"1d52abe3.9ae71c","name":"","active":true,"tosidebar":true,"console":true,"tostatus":false,"complete":"payload","targetType":"msg","x":360,"y":240,"wires":[]},{"id":"2cc93e7.af280c2","type":"mqtt out","z":"1d52abe3.9ae71c","name":"","topic":"esp32/lamp","qos":"2","retain":"true","broker":"70223f88.7bf908","x":750,"y":520,"wires":[]},{"id":"3c7e53a.e7e762c","type":"blynk-ws-in-write","z":"1d52abe3.9ae71c","name":"","pin":"2","pin_all":0,"client":"d080c92f.edf4b8","x":180,"y":520,"wires":[["2cc93e7.af280c2","30866559.e0f142"]]},{"id":"bd5e6299.897b68","type":"blynk-ws-in-write","z":"1d52abe3.9ae71c","name":"","pin":"1","pin_all":0,"client":"d080c92f.edf4b8","x":160,"y":580,"wires":[["a3507f60.d51558","30866559.e0f142"]]},{"id":"a3507f60.d51558","type":"mqtt out","z":"1d52abe3.9ae71c","name":"","topic":"esp32/fan","qos":"1","retain":"true","broker":"70223f88.7bf908","x":740,"y":580,"wires":[]},{"id":"332a94eb.413d0c","type":"mongodb out","z":"1d52abe3.9ae71c","mongodb":"1d5fcf4b.1e66e1","name":"","collection":"DayaLamp","payonly":false,"upsert":false,"multi":false,"operation":"store","x":820,"y":340,"wires":[]},{"id":"4f71123c.616ffc","type":"mqtt in","z":"1d52abe3.9ae71c","name":"","topic":"esp32/dayafan","qos":"1","datatype":"auto","broker":"70223f88.7bf908","x":160,"y":400,"wires":[["28c5c893.aaa888","30866559.e0f142","5f2f6d79.ab0edc"]]},{"id":"3e2ff27a.f51e9e","type":"blynk-ws-out-table","z":"1d52abe3.9ae71c","name":"","pin":"3","client":"d080c92f.edf4b8","x":740,"y":400,"wires":[]},{"id":"28c5c893.aaa888","type":"function","z":"1d52abe3.9ae71c","name":"tableFan","func":"msg.clear = true;\nvar payload = msg.payload;\nvar topic = msg.topic;\n\nmsg.add = [\"Daya Kipas\",payload+\" Watt\"];\nmsg.update = [0,\"Daya Kipas\",payload+\" Watt\"];\n\n\n\nreturn msg;","outputs":1,"noerr":0,"x":480,"y":400,"wires":[["3e2ff27a.f51e9e"]]},{"id":"5f2f6d79.ab0edc","type":"mongodb out","z":"1d52abe3.9ae71c","mongodb":"1d5fcf4b.1e66e1","name":"","collection":"DayaFan","payonly":false,"upsert":false,"multi":false,"operation":"store","x":810,"y":460,"wires":[]},{"id":"bfa9c8ac.5548c8","type":"mqtt in","z":"1d52abe3.9ae71c","name":"","topic":"esp32/totDayaLamp","qos":"1","datatype":"auto","broker":"70223f88.7bf908","x":130,"y":780,"wires":[["213db9bd.43747e","30866559.e0f142","531fd388.41385c"]]},{"id":"213db9bd.43747e","type":"function","z":"1d52abe3.9ae71c","name":"notif Lampu","func":"var temp = msg.payload;\nvar message = \"Lampu telah melebihi 6000 watt, Lampu akan mati setelah 10K penggunaan\";\nif(temp >= 6000){\n    var newmsg ={payload: message };\n\n    return newmsg;\n}\n","outputs":1,"noerr":0,"x":410,"y":780,"wires":[["cc10d3ea.900298"]]},{"id":"965e6ee7.2424","type":"twilio out","z":"1d52abe3.9ae71c","twilio":"3c785c4e.122fbc","twilioType":"sms","url":"","number":"+6282187460814","name":"rein","x":710,"y":680,"wires":[]},{"id":"ad0a571a.7138b","type":"mqtt in","z":"1d52abe3.9ae71c","name":"","topic":"esp32/totDayaFan","qos":"1","datatype":"auto","broker":"70223f88.7bf908","x":160,"y":680,"wires":[["6691cdd2.665d04","30866559.e0f142","d2130e44.b6dc"]]},{"id":"6691cdd2.665d04","type":"function","z":"1d52abe3.9ae71c","name":"notif Kipas","func":"var temp = msg.payload;\nvar message = \"Kipas telah melebihi 3000 watt, Kipas akan mati setelah 10K penggunaan\";\nif(temp >= 3000){\n    var newmsg ={payload: message };\n\n    return newmsg;\n}\n","outputs":1,"noerr":0,"x":430,"y":680,"wires":[["cc10d3ea.900298","965e6ee7.2424"]]},{"id":"cc10d3ea.900298","type":"blynk-ws-out-email","z":"1d52abe3.9ae71c","name":"","email":"shinshinogami@gmail.com","client":"d080c92f.edf4b8","x":740,"y":720,"wires":[]},{"id":"531fd388.41385c","type":"mongodb out","z":"1d52abe3.9ae71c","mongodb":"1d5fcf4b.1e66e1","name":"","collection":"totalDayaLampu","payonly":false,"upsert":false,"multi":false,"operation":"store","x":470,"y":860,"wires":[]},{"id":"d2130e44.b6dc","type":"mongodb out","z":"1d52abe3.9ae71c","mongodb":"1d5fcf4b.1e66e1","name":"","collection":"totalDayaKipas","payonly":false,"upsert":false,"multi":false,"operation":"store","x":820,"y":640,"wires":[]},{"id":"70223f88.7bf908","type":"mqtt-broker","z":"","name":"","broker":"192.168.43.87","port":"1883","clientid":"","usetls":false,"compatmode":true,"keepalive":"60","cleansession":true,"birthTopic":"","birthQos":"0","birthPayload":"","closeTopic":"","closeQos":"0","closePayload":"","willTopic":"","willQos":"0","willPayload":""},{"id":"d080c92f.edf4b8","type":"blynk-ws-client","z":"","name":"ValueLDR","path":"ws://blynk-cloud.com/websockets","key":"zUTOKy7Aq19qUXRkT78CyBEY-JEzc3po","dbg_all":true,"dbg_read":false,"dbg_write":false,"dbg_notify":false,"dbg_mail":false,"dbg_prop":false,"dbg_sync":false,"dbg_bridge":false,"dbg_low":false,"dbg_pins":"","multi_cmd":false,"proxy_type":"no","proxy_url":"","enabled":true},{"id":"1d5fcf4b.1e66e1","type":"mongodb","z":"","hostname":"127.0.0.1","port":"27017","db":"smarthome","name":""},{"id":"3c785c4e.122fbc","type":"twilio-api","z":"","name":"notif-sms","sid":"ACab46467edf094be19363c07d91cfbe37","from":"+12512379353"}]